body {
  background-image: url('https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.pixelstalk.net%2Fwp-content%2Fuploads%2F2016%2F05%2FFormula-math-text-texture-wallpaper.jpg&f=1&nofb=1&ipt=bbb3fb1cb24b0285faf83e8e4ccaa392f5225321173345e596824c34c7a4820b');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
/* Cuerpo del texto: párrafos */
body, p {
  font-family: "Merriweather", serif;
  font-weight: 400;   /* Regular para párrafos */
  line-height: 1.6;   /* Mejor legibilidad */
  font-size: 25px;    /* Ajustable según tu preferencia */
  color: lightseagreen;
  font-weight: bold;
}

/* Títulos: h1, h2, h3, etc. */
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;   /* Medio o semi-bold para títulos */
  line-height: 1.3;
  color: orange;
  font-weight: bolder;
  font-size: 30px;
}

